.container {
  position: relative;
  padding: 1rem 1rem;
  color: black;

  border-bottom: 1px solid black;
}

.amount {
  font-size: 24px;

  &_green {
    color: green;
  }

  &_red {
    color: red;
  }
}

.delete {
  position: absolute;
  right: 2rem;
  top: 2rem;
  text-decoration: underline;
  cursor: pointer;
  background-color: unset;
  color: black;
  border: none;
  font-size: large;

  &:hover {
    color: red;
  }
}

.fade {
  animation: fade-in-keyframes 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
