.formContainer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.textInput {
  background-color: white;
}

.infoField {
  color: green;
  padding: 0.5rem;
}

.submitButton {
  height: 2rem;
  background-color: green;
  cursor: pointer;
}

.input {
  height: 2.5rem;
  width: 100%;
  color: black;
  background-color: white;
  border: 1px solid black;
}

.errorField {
  font-size: 12px;
  margin: 0;
  color: red;
  padding: 0.2rem;
  height: auto;
}
